/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2016, 4:01:56 PM
    Author     : leiyang
*/

/** header **/
#header {
    width: 100%;
    min-height: 40px;
    padding: 5px 0;
    background: #333;
    color: #999;
    float: left;
    z-index: 10;
    position: fixed;
}

#header #logo{
    margin: 0px 30px 0 30px;
}
#header #menu {
    float: right;
    cursor: pointer;
}
#header .header-navigation {
    float: left;
}

#header ul {
    list-style-type: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
#header ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    padding: 0 15px;
}
#header ul li {
    float: left;
    margin: 8px 10px;
    padding: 5px 10px;
    cursor: pointer;
}
#header ul li:hover {
    background:#f66;
    border-radius: 15px;
}
#header ul li.active {
    color: #fff;
    background: #f33;
    border-radius: 15px;
}
#header #header-user {
    text-align: right;
    float: right;
    padding: 13px 10px;
    margin-right: 10px;
    cursor: pointer;
}
#header * {
    vertical-align: middle;
    display: inline-block
}
/* end of header */
/* side menu */
#side-menu {
    float: left;
    width: 200px;
    height: 100%;
    position: fixed;
    background: #333;
    display: block;
    padding-top: 100px;
}
#side-menu-container {
    margin: 0;
    padding: 0;
}
.side-menu-item {
    padding: 15px 30px;
    list-style-type: none;
    cursor: pointer;
}

.side-menu-item a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.side-menu-item:hover {
    background: #999;
}
.side-menu-item.active {
    border-bottom: 2px #f66 solid;
}

/* end of side menu */
/* customer navbar */
#customer-navbar{
    width: 90%;
    height: 60px;
    padding: 5px 0;
    background: #fff;
    color: #999;
    float: left;
    z-index: 10;
    position: fixed;
    border: 2px solid #333;
    top:121px;
}

#customer-navbar ul {
    list-style-type: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
#customer-navbar ul a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    padding: 0 15px;
}
#customer-navbar ul li {
    text-align: center;
    width: 120px;
    float: left;
    margin: 8px 10px;
    padding: 5px 10px;
    cursor: pointer;
}
#customer-navbar ul li:hover {
    background:#f66;
    border-radius: 15px;
}
#customer-navbar ul li.active {
    color: #fff;
    background: #f33;
    border-radius: 15px;
}

/* customer navbar */
/* customer slideshow */
#customer-slideshow{
    height:500px;
    top:200px;
    width: 90%;
    min-height: 100px;
    padding: 5px 0;
    background: #fff;
    color: #999;
    float: left;
    z-index: 10;
    position: fixed;
    top:420px;
}

#customer-slideshow img{
    width:600px;
    height: 300px;
}
/* end of customer slideshow */
/* wizard overwrite */
.ui-wizard-step-title {
    font-size: 18px;
    /* margin: 0 3px 0 0; */
    padding: .4em;
    float: left;
    width: 172px;
    border: none;
    border-radius: initial;
    background-color: #fff;
}

#register-form-container{
    min-width: 200px;
    top:55%; 

}

#register-form-container .ui-state-highlight{
    text-align: center;
    background: #aaa -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.55)),to(rgba(0,0,0,0)));
}

#register-form-container .ui-wizard-step-title{
    text-align: center;
}

#register-form-container table{
    margin-left: auto;
    margin-right: auto;
}

#register-form-container tr{
    line-height: 50px;
}

#register-form-container .ui-button{
    width:100px;
    margin-left: 10px;
}

#register-form-container .ui-datepicker-trigger{
    width:26px;
    height:25px;
    margin-left: 0px;
    border: none;
    border-radius: 0;
}

#register-form-container .register-form-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}
/* end of wizard overwrite */
/* general */
.container {
    padding-top: 100px;
    margin-left: 250px;
    margin-right: 50px;
}

.h-center {
    position: absolute;
    top: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); 
}