/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2016, 4:01:56 PM
    Author     : leiyang
*/

/** header **/
#header {
    width: 100%;
    min-height: 40px;
    padding: 5px 0;
    background: #222;
    color: #999;
    float: left;
    z-index: 10;
    position: fixed;
    border-bottom: 10px solid #c00;
}

#header #logo{
    margin: 0px 30px 0 30px;
}
#header #menu {
    float: right;
    cursor: pointer;
}
#header .header-navigation {
    float: left;
}

#header ul {
    list-style-type: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
#customer-header-nav{
    width: 10%;
    height: 67px;
    min-height: 40px;
    float: right;
    margin-right: 22px;
}
#header #customer-header-nav ul{
    list-style-type: none;
    position: relative;
    float: right;
    margin: 0;
    height:100%;
    padding-right: 30px;
}
#header #customer-header-nav ul li{
    color: white;
    text-align: center;
    display: inline-block;
    width:100px;
    float: left;
    cursor:pointer;
    box-sizing: border-box;
    height:67px;
    border-right: 1px solid #555555;
    border-left: 1px solid #555555;
    padding:0;
    margin:0;
    }
#header #customer-header-nav ul label{
    padding-top:30px;
    height:40px;
    cursor:pointer;
    width:100px;
    }
#header #customer-header-nav ul li:hover{
    background: none;
    border-radius: 0;
    }
#header ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 32px;
    padding: 5px 15px;
}
#header ul li {
    float: left;
    margin: 8px 10px;
    padding: 5px 10px;
    cursor: pointer;
}
#header ul li:hover {
    background:#f66;
    border-radius: 15px;
}
#header ul li.active {
    color: #fff;
    background: #f33;
    border-radius: 15px;
}
#header #header-user {
    text-align: right;
    float: right;
    padding: 13px 10px;
    margin-right: 10px;
    cursor: pointer;
}
#header * {
    vertical-align: middle;
    display: inline-block
}
/* end of header */
/* side menu */
#side-menu {
    float: left;
    width: 200px;
    height: 100%;
    position: fixed;
    background: #333;
    display: block;
    padding-top: 100px;
}
#side-menu-container {
    margin: 0;
    padding: 0;
}
.side-menu-item {
    padding: 15px 30px;
    list-style-type: none;
    cursor: pointer;
}

.side-menu-item a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.side-menu-item:hover {
    background: #999;
}
.side-menu-item.active {
    border-bottom: 2px #f66 solid;
}

/* end of side menu */
/*staff log in*/
.staff-login-body{
    height:100vh;
    background-image: url("../resources/img/staff_login_bg.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
}

.staff-login-layout .staff-login-panel-layoutUnit{
    background: rgba(255,255,255,0.6) !important;
}

.staff-login-layout .ui-widget-content{
    background: rgba(255,255,255,0.7) !important;
}

.staff-login-input{
    background: white !important;
}

.staff-login-layout{
    margin: 0 auto;
    width:400px;
    height:300px;
    top:3% !important;
    border-top: 7px solid #c00;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.30),0 6px 3px 0 rgba(0,0,0,0.23);
}

.staff-login-icon{
    position:relative; 
    top:5%; 
    width: 100%;
    text-align: center;
}

.staff-login-icon img{

    width:200px;
}

/*end of staff log in*/
/*footer*/
.footer {
    font-size: 12px;
    height:40px;
    line-height: 20px;
    color:white;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: url(../resources/img/footer_bg.png) repeat;
    z-index: 999;
}

.footer .footer-links {
    float: left;
    width: 70%;
}

.footer .footer-links ul {
    margin-left: 20px;
    text-decoration: none;
}
.footer .footer-links ul li{
    float: left;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #fff;
}

.footer .footer-links li:last-child {
    border-right: none;
    padding-right: 0;
}

.clearfix {
    display: block;
}

.footer .contact-links {
    width:30%;
    float: right;
}

.footer .contact-links ul {
    margin-left: 20px;
    text-decoration: none;
}
.footer .contact-links ul li{
    float:left;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
}
/*end of footer*/
/* customer navbar */
#customer-navbar{
    width: 90%;
    height: 60px;
    background: #fff;
    color: #999;
    float: left;
    z-index: 10;
    position: fixed;
    top:117px;
}

#customer-navbar ul {
    list-style-type: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width:100%;
}
#customer-navbar ul a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    line-height: 32px;
    padding: 4px 15px;
}
#customer-navbar ul li {
    width: 14.2857%;
    height: 77px;
    background-color: #fcfcfc;
    display: inline;
    list-style-type: none;
    float: left;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    box-sizing: border-box;
    background-image: url("../resources/img/nav-background.png");
    border-bottom:1px solid #eee;
}
#customer-navbar ul li:hover {
    background: rgba(180,180,180,0.25);
}
#customer-navbar ul li.active {
    background: rgba(180,180,180,0.25);
    border-bottom: 5px solid #c00;
}

/* customer navbar */
/* customer slideshow */
#customer-slideshow{
    height:500px;
    width: 90%;
    min-height: 100px;
    padding: 5px 0;
    background: #fff;
    color: #999;
    float: left;
    z-index: 10;
    position: fixed;
    top:440px;
}

#customer-slideshow img{
    width:600px;
    height: 300px;
}
/* end of customer slideshow */
/* wizard overwrite */
.ui-wizard-step-title {
    font-size: 18px;
    /* margin: 0 3px 0 0; */
    padding: .4em;
    float: left;
    width: 172px;
    border: none;
    border-radius: initial;
    background-color: #fff;
}

#register-form-container{
    min-width: 200px;
    top:55%; 

}

#register-form-container .ui-state-highlight{
    text-align: center;
    background: #c00 -webkit-gradient(linear,left top,left bottom,from(rgba(244,0,0,0.55)),to(rgba(0,0,0,0)));
}

#register-form-container .ui-wizard-step-title{
    text-align: center;
}

#register-form-container table{
    margin-left: auto;
    margin-right: auto;
}

#register-form-container tr{
    line-height: 50px;
}

#register-form-container .ui-button{
    width:100px;
    margin-left: 10px;
}

#register-form-container .ui-datepicker-trigger{
    width:26px;
    height:25px;
    margin-left: 0px;
    border: none;
    border-radius: 0;
}

#register-form-container .register-form-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}
/* end of wizard overwrite */
/*Investment Plan*/
#designinvestment .staffDesignPanel{
    font-size: 13px;
}

#designinvestment .ui-spinner-input{
    width:20px;
}

#designinvestment .ui-spinner{
    z-index: 0;
}

#designinvestment .designinvestment-input{
    width:30px;
    font-size:13px;
}
/*End of Investment Plan*/
/*BI*/
.bi-body{
    background: #efefef;
}

.bi-container .bi-header-holder{
    text-align: center;
    padding: 5px;
    min-height: 30px;
    background: #c00;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.bi-container .bi-header-holder .header-content{
    position: relative;
    top:5px;
    font-size: 20px;
    color: white;  
}

.bi-container .date-holder{
    padding: 10px;
    min-height: 80px;
    background: white;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.bi-container .date-holder .date-label{
    font-size: 24px;
}

.bi-container .date-holder .date-picker{
    margin-top: 15px;
}

.bi-container .date-holder .date-picker .ui-inputfield{
    width:100%;
}

.bi-container .date-holder .date-icon{
    width:100%;
    height:100%;
}

.bi-container .date-holder .date-icon img{
    padding-left: 25%;
    width:33%;
    height:63%;
}

.bi-container .button-holder{
    width:70%;
    margin: 0 auto;
    min-height: 80px;
    background: white;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.bi-container .button-holder .ui-button{
    width:100%;
    height:100px;
}

.bi-container .button-holder .ui-button-text-only .ui-button-text{
    font-size: 30px;
    padding:0;
}

.bi-container .dashboard-hightlight-holder{
    position: relative;
    padding-top: 10px;
    min-height: 100px;
    background: white;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.bi-container .dashboard-hightlight-holder .highlight-label{
    padding: 10px;
    font-size: 13px;
    color:#757575;
}

.bi-container .dashboard-hightlight-holder .highlight-amount{
    padding: 10px;
    font-size: 26px;
    display:block;
}

.bi-container .dashboard-hightlight-holder img{
    position:absolute;
    bottom: 0;
    width: 100%;
    display: block;
}

.bi-container .dashboard-info-holder{
    min-height: 100px;
    background: white;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.bi-container .dashboard-info-holder .dashboard-info-label{
    height: 20px;
    display: block;
    padding: 5px;
    text-align: center;
}

.bi-container .dashboard-info-holder .dashboard-info-label .label{
    font-size: 12px;
    color: white;
}

.bi-container .dashboard-info-holder .dashboard-info-amount{
    position: relative;
    width: 100%;
    font-size: 40px;
    height: 70px;
    color: white;
    display: block;
    text-align: center;
}

.bi-container .dashboard-info-holder .dashboard-info-amount .info-amount{
    position: relative;
    top: 15px;
}

.bi-container .chart-holder{
    padding: 30px;
    min-height: 120px;
    background: white;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.bi-container .chart-holder .pie-chart-content{
    height: 60px;
    display:block;
}

.bi-container .chart-holder .pie-chart-content .amount-1{
    color:#2196F3;
    float:right;
    font-size: 36px;
}

.bi-container .chart-holder .pie-chart-content .amount-2{
    color:#009688;
    float:right;
    font-size: 36px;
}

.bi-container .color-1 .dashboard-info-label{
    background: #c9392f;
}

.bi-container .color-1 .dashboard-info-amount{
    background: #F44336;
}

.bi-container .color-2 .dashboard-info-label{
    background: #492b80;
}

.bi-container .color-2 .dashboard-info-amount{
    background: #673AB7;
}

.bi-container .color-3 .dashboard-info-label{
    background: #1e649b;
}

.bi-container .color-3 .dashboard-info-amount{
    background: #2196F3;
}

.bi-container .color-4 .dashboard-info-label{
    background: #146961;
}

.bi-container .color-4 .dashboard-info-amount{
    background: #009688;
}

.bi-container .color-5 .dashboard-info-label{
    background: #c8ba43;
}

.bi-container .color-5 .dashboard-info-amount{
    background: #FFEB3B;
}

.bi-container .color-6 .dashboard-info-label{
    background: #ca3e12;
}

.bi-container .color-6 .dashboard-info-amount{
    background: #FF5722;
}
/*End of BI*/
/*crm*/
.crm-body{
    background: #efefef;
}

.crm-container .crm-header-holder{
    text-align: center;
    padding: 5px;
    min-height: 30px;
    background: #c00;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.crm-container .crm-header-holder .header-content{
    position: relative;
    top:5px;
    font-size: 20px;
    color: white;  
}

.crm-container .date-holder{
    padding: 10px;
    min-height: 80px;
    background: white;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.crm-container .date-holder .date-label{
    font-size: 24px;
}

.crm-container .date-holder .date-picker{
    margin-top: 15px;
}

.crm-container .date-holder .date-picker .ui-inputfield{
    width:100%;
}

.crm-container .date-holder .date-icon{
    width:100%;
    height:100%;
}

.crm-container .date-holder .date-icon img{
    padding-left: 25%;
    width:33%;
    height:63%;
}

.crm-container .button-holder{
    width:70%;
    margin: 0 auto;
    min-height: 80px;
    background: white;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.crm-container .button-holder .ui-button{
    width:100%;
    height:100px;
}

.crm-container .button-holder .ui-button-text-only .ui-button-text{
    font-size: 30px;
    padding:0;
}

.crm-container .crm-info-holder{
    min-height: 95px;
    background: white;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.crm-container .crm-info-holder .crm-info-icon{
    height:100%;
}

.crm-container .crm-info-holder .crm-info-icon img{
    width: 76px;
    height: 76px;
}

.crm-container .crm-info-holder .crm-info .info-label{
    font-size: 14px;
    color:#666;
    display: block;
    text-align: center;
}

.crm-container .crm-info-holder .crm-info .info-amount{
    position:relative;
    top:10px;
    display: block;
    font-size: 40px;
    text-align: center;
}

.crm-container .crm-highlight-holder{
    position:relative;
    min-height: 100px;
    background: white;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.crm-container .crm-highlight-holder .crm-highlight-label{
    text-align: center;
    color:#666;
    display: block;
    position: relative;
    top: 10px;
}

.crm-container .crm-highlight-holder .crm-highlight-icon{
    position: absolute;
    bottom: 0;
    width: 55%;
}

.crm-container .crm-highlight-holder .crm-highlight-icon img{
    width: 100%;
}

.crm-container .crm-highlight-holder .crm-highlight-amount{
    position: relative;
    top:30px;
    text-align: center;
    font-size: 28px;
    color: #2196F3;
}

.crm-container .chart-holder{
    padding: 30px;
    min-height: 120px;
    background: white;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.crm-container .age-picker-holder{
    min-height: 100px;
    background: white;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.crm-container .color-1 .crm-info-icon{
    background: #c8ba43; 
}

.crm-container .color-1 .crm-info .info-amount{
    color: #FFEB3B; 
}

.crm-container .color-2 .crm-info-icon{
    background: #492b80; 
}

.crm-container .color-2 .crm-info .info-amount{
    color: #673AB7;
}

.crm-container .color-3 .crm-info-icon{
    background: #1e649b;
}

.crm-container .color-3 .crm-info .info-amount{
    color: #2196F3;
}

.crm-container .color-4 .crm-info-icon{
    background: #146961;
}

.crm-container .color-4 .crm-info .info-amount{
    color: #009688;
}

.customer-segmentation-container .select-menu-holde{
    display: block;
}
.tag-cloud-holder{
    text-align: center;
    position: relative;
    top: 30px;
}
.tag-cloud-holder .tag-cloud-label{
    font-size: 32px;
}

.tag-cloud-holder .ui-tagcloud{
    width:500px;
    font-size: 32px;
    margin: 0 auto;
}

.tag-cloud-holder .ui-tagcloud .ui-state-hover{
    border: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
    background-color: #ddd;
}
/*end of crm*/
/* general */
.container {
    padding-top: 100px;
    margin-left: 250px;
    margin-right: 50px;
    overflow: auto;
}
.center-container{
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.customer_main_container{
    margin-left: auto;
    margin-right: auto;
    width:90%;
    padding-top:220px;
}

.h-center {
    position: absolute;
    top: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); 
}

.no-margin {
    margin:0;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.full-width {
    width:100%;
}
.width-80 {
    width: 80%;
}
.no-padding {
    padding:0;
}
.absolute-left{
    left: 0;
}
.absolute-right{
    right:0;
}
.border-bottom {
    border-bottom: 1px solid gray;
}
.table-cell {
    position: relative;
    height: 50px;
}
.text-center {
    text-align: center;
}
.font-20 {
    font-size: 20px;
}
.padding-20{
    padding: 20px;
}
.hidden {
    display: none;
}

.ui-separator{
    height:0px;
    margin:5px 0 5px 0;
}

.ui-datatable .ui-datatable-header {
    border-bottom: 0 none;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 20px;
}

.ui-datatable .ui-paginator{
    border: 1px solid black;
}   

.ui-datatable .ui-state-default, .ui-datatable .ui-widget-content .ui-state-default, .ui-datatable .ui-widget-header .ui-state-default{
    background-color: #c00 !important;
    color: white;
}

.ui-datatable-odd{
    background: none repeat scroll 0 0 #f2f5f9 !important;
}

.datatable-holder{
    padding: 30px;
    min-height: 120px;
    background: white;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin: 10px;
}

.datatable-main{
    width:99%;
}

.ui-datatable .ui-row-toggler {
    cursor: pointer;
    background: #c00;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-close{
    background: #c00 !important;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger{
    background: #c00 !important;
}

.ui-chkbox .ui-chkbox-box .ui-icon
{
    background-image: url("https://download.jqueryui.com/themeroller/images/ui-icons_c00_256x240.png") !important;
}

