/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2016, 4:01:56 PM
    Author     : leiyang
*/

/** header **/
#header {
    width: 100%;
    min-height: 40px;
    padding: 5px 0;
    background: black;
    color: #999;
    float: left;
    z-index: 10;
    position: fixed;
    border-bottom: 10px solid #c00;
    background-image: url("../resources/img/bg_header.png");
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: 380px 23px;
}

#header #logo{
    margin: 0px 30px 0 30px;
}
#header #menu {
    float: right;
    cursor: pointer;
}
#header .header-navigation {
    float: left;
}

#header ul {
    list-style-type: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
#customer-header-nav{
    width: 85%;
    height:67px;
    min-height: 40px;
}
#header #customer-header-nav ul{
    list-style-type: none;
    position: relative;
    float: right;
    margin: 0;
    height:100%;
    padding-right: 30px;
}
#header #customer-header-nav ul li{
    color: white;
    text-align: center;
    display: inline-block;
    width:120px;
    float: left;
    cursor:pointer;
    box-sizing: border-box;
    height:67px;
    border-right: 1px solid #555555;
    border-left: 1px solid #555555;
    padding:0;
    margin:0;
    }
#header #customer-header-nav ul label{
    padding-top:30px;
    height:40px;
    cursor:pointer;
    width:100px;
    }
#header #customer-header-nav ul li:hover{
    background: none;
    border-radius: 0;
    }
#header ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 32px;
    padding: 20px 15px;
}
#header ul li {
    float: left;
    margin: 8px 10px;
    padding: 5px 10px;
    cursor: pointer;
}
#header ul li:hover {
    background:#f66;
    border-radius: 15px;
}
#header ul li.active {
    color: #fff;
    background: #f33;
    border-radius: 15px;
}
#header #header-user {
    text-align: right;
    float: right;
    padding: 13px 10px;
    margin-right: 10px;
    cursor: pointer;
}
#header * {
    vertical-align: middle;
    display: inline-block;
}
/* end of header */
/* side menu */
#side-menu {
    float: left;
    width: 200px;
    height: 100%;
    position: fixed;
    background: #333;
    display: block;
    padding-top: 100px;
}
#side-menu-container {
    margin: 0;
    padding: 0;
}
.side-menu-item {
    padding: 15px 30px;
    list-style-type: none;
    cursor: pointer;
}

.side-menu-item a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.side-menu-item:hover {
    background: #999;
}
.side-menu-item.active {
    border-bottom: 2px #f66 solid;
}

/* end of side menu */
/* customer navbar */
#customer-index-navbar{
    width: 90%;
    height: 60px;
    background: #fff;
    color: #999;
    float: left;
    z-index: 10;
    position: fixed;
    top: 87px;
    left: 5%;
}

#customer-index-navbar ul{
    width: 100%;
    margin: 0 auto;
    list-style-type: none;
    position: relative;
    float: left;
    padding-left: 0;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.30),0 3px 1px 0 rgba(0,0,0,0.23);
}

#customer-index-navbar ul a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    line-height: 32px;
    padding: 4px 15px;
    height:100%;
}
#customer-index-navbar ul li {
    width: 14.2857%;
    height: 77px;
    background-color: #fcfcfc;
    display: inline;
    list-style-type: none;
    float: left;
    text-align: center;
    padding-top: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    box-sizing: border-box;
    background-image: url("../resources/img/nav-background.png");
    border-bottom:1px solid #eee;
}
#customer-index-navbar ul li:hover {
    background: #eee;
}
#customer-index-navbar ul li.active {
    background: #eee;
    border-bottom: 5px solid #c00;
}

#customer-index-navbar .ui-widget {
    font-size: 15px;
}

#customer-personal-navbar{
    width: 90%;
    height: 60px;
    background: #fff;
    color: #999;
    float: left;
    z-index: 999;
    position: fixed;
    top: 87px;
    left: 5%;
}

#customer-personal-navbar ul{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.30),0 3px 1px 0 rgba(0,0,0,0.23);
}

#customer-personal-navbar form{
    width: 100%;
    margin:auto;
}

#customer-personal-navbar .ui-menu{
    width: 100% !important;
}

#customer-personal-navbar ul {
    list-style-type: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width:100%;
}

#customer-personal-navbar ul li {
    width: 14.28%;
    height: 77px;
    background-color: #fcfcfc;
    display: inline;
    list-style-type: none;
    float: left;
    text-align: center;
    box-sizing: border-box;
    background-image: url("../resources/img/nav-background.png");
    border-bottom:1px solid #eee;
    font-size: 24px;
}

#customer-personal-navbar ul li:hover {
    background: #eee;
}

#customer-personal-navbar ul li.active {
    background: #eee;
    border-bottom: 5px solid #c00 !important;
}

#customer-personal-navbar .ui-menu .ui-menuitem-link{
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 23px 0 0 0 !important;
    font-size: 18px;
    width: 100%;
}

#customer-personal-navbar .ui-menu .ui-menuitem-text{
    margin: 0 auto;
    width: 100%;
}

#customer-personal-navbar .ui-menu .ui-menuitem-link .ui-state-hover{
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0 0 0 0;
    line-height: 25px;
}

#customer-personal-navbar .ui-menu a:hover{
    background: #eee;
}

#customer-personal-navbar .navbar-submenu ul li{
    width: 100%;
    min-height: 40px;
    height:fit-content;
    background-color: #fcfcfc;
    display: inline;
    list-style-type: none;
    float: left;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: none;
    border-bottom: 1px #ccc solid;
}

#customer-personal-navbar .navbar-submenu ul li .ui-state-hover{
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0 0 0 0;
    line-height: 25px;
}


#customer-personal-navbar .navbar-submenu ul li .ui-menuitem-link{
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    width:100%;
    padding: 0 !important;
    line-height: 25px;
    background: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 100;
}

#customer-personal-navbar .navbar-submenu ul li .ui-menuitem-link:hover{
    background: #eee;
}

#customer-personal-navbar .ui-menuitem-link span.ui-icon-triangle-1-s{
    display: none;
}

#customer-personal-navbar .ui-menuitem-link span.ui-icon-triangle-1-e{
    display: none;
}
/* customer navbar */
/* customer slideshow */
.ui-carousel .ui-carousel-header{
    display:none;
}

#customer-slideshow{
    height:fit-content;
    width: 85%;
    min-height: 100px;
    background: #fff;
    color: #999;
    float: left;
    z-index: 10;
    position: fixed;
    top:380px;
}

#customer-slideshow .ui-widget-content{
    background: #f2f2f2;
}

#customer-slideshow img{
    width:100%;
}

.slideshow-img-holder{
    position: relative;
}

.slideshow-img-holder .ui-state-default {
    -webkit-box-shadow: none !important; 
    box-shadow: none !important;
}

.slideshow-img-holder .slideshow-img-holder-button-1{
    position: absolute;
    bottom:120px;
    right:435px;
}

.slideshow-img-holder .slideshow-img-holder-button-2{
    position: absolute;
    top:180px;
    left:25px;
}

.slideshow-img-holder .slideshow-img-holder-button-3{
    position: absolute;
    bottom:120px;
    right:400px;
}
/* end of customer slideshow */
/* wizard overwrite */
.ui-wizard-step-title {
    font-size: 18px;
    /* margin: 0 3px 0 0; */
    padding: .4em;
    float: left;
    width: 172px;
    border: none;
    border-radius: initial;
    background-color: #fff;
}

#register-form-container{
    min-width: 200px;
    top:55%; 

}

#register-form-container .ui-state-highlight{
    text-align: center;
    background: #c00 -webkit-gradient(linear,left top,left bottom,from(rgba(244,0,0,0.55)),to(rgba(0,0,0,0)));
}

#register-form-container .ui-wizard-step-title{
    text-align: center;
}

#register-form-container table{
    margin-left: auto;
    margin-right: auto;
}

#register-form-container tr{
    line-height: 50px;
}

#register-form-container .ui-button{
    width:100px;
    margin-left: 10px;
}

#register-form-container .ui-datepicker-trigger{
    width:26px;
    height:25px;
    margin-left: 0px;
    border: none;
    border-radius: 0;
}

#register-form-container .register-form-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

#register-form-container .ui-scrollpanel .ui-scrollpanel-drag{
    background: #aaa !important;
}
/* end of wizard overwrite */
/* toggleable */
.issue-toggleable{
    border: 1px solid #aaa !important;
    background: #eee !important;
}

.issue-toggleable .ui-panel-titlebar{
    border-bottom: none !important;
}

.issue-toggleable .ui-panel-title{
    background: none !important;
    color:black !important;
    border:none !important;
    
}
/* end of toggleable */
/*customer log in*/
.customer-login-layout{
    width:400px;
    height:300px;
    top:350px !important;
    border-top: 7px solid #c00;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.30),0 6px 3px 0 rgba(0,0,0,0.23);
}
.customer-login-body{
    height:100vh;
    background-image: url("../resources/img/customer_login_bg.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
}
.customer-login-layout .customer-login-panel-layoutUnit{
    background: rgba(255,255,255,0.6) !important;
}

.customer-login-layout .ui-widget-content{
    background: rgba(255,255,255,0.7) !important;
}

.customer-login-input{
    background: white !important;
}
/*end of customer log in*/
/*footer*/
.footer {
    font-size: 12px;
    height:40px;
    line-height: 20px;
    color:white;
    width: 100%;
    background: url(../resources/img/footer_bg.png) repeat;
    z-index: 999;
    display: block;
}

.footer .footer-links {
    float: left;
    width: 70%;
}

.footer .footer-links ul {
    margin-left: 20px;
    text-decoration: none;
}
.footer .footer-links ul li{
    float: left;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #fff;
}

.footer .footer-links li:last-child {
    border-right: none;
    padding-right: 0;
}

.clearfix {
    display: block;
}

.footer .contact-links {
    width:30%;
    float: right;
}

.footer .contact-links ul {
    margin-left: 20px;
    text-decoration: none;
}
.footer .contact-links ul li{
    float:left;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
}

.mainfooter {
    font-size: 12px;
    height:40px;
    line-height: 20px;
    color:white;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: url(../resources/img/footer_bg.png) repeat;
    z-index: 999;
    display: block;
}

.mainfooter .footer-links {
    float: left;
    width: 70%;
}

.mainfooter .footer-links ul {
    margin-left: 20px;
    text-decoration: none;
}
.mainfooter .footer-links ul li{
    float: left;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #fff;
}

.mainfooter .footer-links li:last-child {
    border-right: none;
    padding-right: 0;
}

.mainfooter .contact-links {
    width:30%;
    float: right;
}

.mainfooter .contact-links ul {
    margin-left: 20px;
    text-decoration: none;
}
.mainfooter .contact-links ul li{
    float:left;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
}
/*end of footer*/
/* wealth */
.marketing-first{
    background: url("../resources/img/wealth_bg.jpg");
    background-size: cover;
    height:300px;
}

.marketing-first .content{
    width:80%;
    color:#eee;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

.marketing-second{
    text-align: center;
    height:300px;
    background-color: #81cdcc;
}

.marketing-second .second-content{
    padding-top: 50px;
    background-color: #81cdcc;  
}

.marketing-second .second-content .ui-grid-row{
    background-color: #81cdcc;
    color: white;
}
.marketing-third{
    height:400px;
}

.marketing-third .content{
    width:80%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
.marketing-third .ui-slider{
    width: 500px;
    background-color: #ccc;
    margin: 0 auto;
}
.marketing-third .ui-slider-handle{
    background-color: #81cdcc !important;
    box-shadow: none !important;
    border:1px solid #ccc !important;
}

.requestPlanForm .ui-slider{
    background-color: #ccc;
}

.requestPlanForm .ui-slider-handle{
    background-color: #c00 !important;
    box-shadow: none !important;
    border:1px solid #ccc !important;
}
/* end of wealth */

.viewInvestmentPlanDetailLayout{
    font-size: 12px !important;
}

.viewInvestmentPlanDetailAction{
    width:fit-content;
    margin:auto;
    padding-top: 20px;
}
/* general */
.container {
    padding-top: 100px;
    margin-left: 250px;
    margin-right: 50px;
}

.white_background {
    background-color: #FFFFFF;
}

.customer_main_container{
    margin-left: auto;
    margin-right: auto;
    width:80%;
    padding-top:180px;
    height: 100%;
    min-height: 65vh;
}

.h-center {
    position: absolute;
    top: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); 
}

.no-margin {
    margin:0;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.full-width {
    width:100%;
}
.width-80 {
    width: 80%;
}
.no-padding {
    padding:0;
}
.absolute-left{
    left: 0;
}
.absolute-right{
    right:0;
}
.border-bottom {
    border-bottom: 1px solid gray;
}
.table-cell {
    position: relative;
    height: 50px;
}
.text-center {
    text-align: center;
}
.font-20 {
    font-size: 20px;
}
.font-25 {
    font-size: 25px;
}
.padding-20{
    padding: 20px;
}
.hidden {
    display: none;
}
.top-50 {
    top: 50%!important;
}
.top-65 {
    top: 65%!important;
}





